@charset "UTF-8";
/* Animación de fondo con movimiento de colores */
@keyframes backgroundAnimation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}
body {
  animation: backgroundAnimation 5s linear infinite;
  background: linear-gradient(90deg, #f50a0a, #fd5506, #e8ec09, #db920b, #e910d7);
  background-size: 200% 100%;
}

.map-container {
  position: relative;
  overflow: hidden;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
}

.map-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 80%;
  left: 5%;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  max-width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

.form-control {
  border: 2px solid #000000;
  border-radius: 5px;
}

.form-check-input {
  margin-right: 10px;
}

.btn-primary {
  background-color: #05080a;
  border: 2px solid #020305;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
}

.form-check-label {
  color: #0b0f12;
}

.tituloform {
  color: #020305;
  position: relative;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f8f9fa;
  text-align: center;
  padding: 20px; /* Añade relleno para centrar el contenido verticalmente */
}

/* Para centrar el contenido del footer horizontalmente */
.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tituloindex {
  font-size: 24px;
  font-weight: bold;
  color: #000000;
  text-align: center;
  margin: 0; /* Elimina el margen superior por defecto */
}

/* Agrega un margen en la parte superior del footer para separarlo del contenido */
.footer {
  margin-top: 20px;
}

/* Estilo para el párrafo */
.text-justify {
  font-size: 16px;
  line-height: 2.5;
  text-align: center;
  color: #414141;
  font-weight: 200;
  background-color: transparent;
}

.custom-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.mejorformulariodelmundo {
  margin-top: -150px; /* Ajusta el valor según tus necesidades */
}

.container {
  position: relative;
}

.tituloindex {
  position: absolute;
  top: 25px; /* Ajusta la distancia desde la parte superior según tus necesidades */
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  color: whitesmoke;
}

.navbar-brand {
  margin-right: 350px; /* Ajusta el valor según tu preferencia */
}

.navbar-brand {
  font-family: "Comic Sans MS", cursive;
  border: 1px solid #ffffff; /* Agrega un borde alrededor del título */
  border-radius: 20px; /* Establece el radio de borde para hacerlo redondeado */
  padding: 10px 20px; /* Ajusta el relleno alrededor del título */
  background: linear-gradient(45deg, transparent, #ecaf06, transparent);
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 0.5s;
}

.navbar-brand:hover {
  background-position: 0;
}

.navbar-brand, .nav-link {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

/* Cambia el color de los enlaces de la barra de navegación a negro */
.navbar-dark .navbar-nav .nav-link {
  color: #d8c3c3; /* Negro */
}

/* Añade margen a los enlaces para separarlos de "CARNAVAL" */
.nav-link {
  text-align: right;
  margin-left: 0; /* Ajusta el valor según tu preferencia */
}

.cuadro-oscuro {
  background-color: #333; /* Color de fondo oscuro */
  color: #fff; /* Color del texto en el cuadro */
  padding: 20px; /* Espacio interno alrededor del cuadro */
  border-radius: 10px; /* Bordes redondeados */
  margin-top: 20px; /* Espacio superior entre el título y el cuadro */
  /* Estilos responsivos */
  max-width: 80%; /* Ancho máximo del cuadro para evitar que sea demasiado ancho en pantallas grandes */
  margin: 20px auto; /* Centrar el cuadro horizontalmente en cualquier dispositivo */
}

.titulo-con-imagen {
  text-align: center; /* Centra el contenido dentro del div */
}

/* Estilos para los títulos */
.titulo-con-imagen h2 {
  margin: 0; /* Elimina el margen superior e inferior del título */
}

/* Estilos para las imágenes */
.espacio-para-imagen {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.espacio-para-imagen img {
  width: 50%; /* Las imágenes ocuparán el 100% del espacio disponible */
  height: auto; /* Mantendrá la proporción original de la imagen */
  margin-bottom: 50px;
}

.espacio-entre-foto-y-footer {
  height: 50px; /* Ajusta la altura del espacio según tus preferencias */
}

#myCarousel {
  margin-bottom: 100px; /* Agrega un margen inferior entre el carrusel y el footer */
  margin-top: 90px;
}

/* Establece un espacio entre la imagen y el texto */
.carousel-caption {
  bottom: 0; /* Alinea la parte inferior de la caja de texto con la parte inferior de la imagen */
  padding: 10px; /* Espacio interno alrededor del título */
  border-radius: 5px; /* Radio de borde para hacerlo redondeado */
  width: 100%; /* Ajusta el ancho para que coincida con la imagen */
  position: absolute; /* Posición absoluta para superponer el texto en la imagen */
  margin-left: -170px;
}

/* Alinea el título y el texto */
.carousel-caption h3 {
  margin: 0;
}

.carousel-caption p {
  margin: 0;
  padding: 10px; /* Añade espacio entre el título y el párrafo */
}

/* Establece un espacio entre las diapositivas */
.carousel-item {
  margin-top: 20px; /* Espacio superior para separar las diapositivas */
}

.gray-rounded-box {
  background-color: #333; /* Color de fondo gris */
  color: #fff;
  border-radius: 10px; /* Radio de borde para hacerlo redondeado */
  padding: 20px; /* Espacio interno alrededor del cuadro de texto */
  margin-bottom: 80px; /* Ajusta el margen inferior del cuadro de texto */
  margin-top: 20px;
}

.cuadro-oscuro h4 {
  margin: 0; /* Elimina el margen superior e inferior del título */
  padding: 10px; /* Espacio interno alrededor del título */
}

.cuadro-oscuro {
  background-color: #333; /* Color de fondo oscuro */
  color: #fff; /* Color del texto en el cuadro */
  padding: 20px; /* Espacio interno alrededor del cuadro */
  border-radius: 10px; /* Bordes redondeados */
  margin-top: 20px; /* Espacio superior entre el título y el cuadro */
  max-width: 80%; /* Ancho máximo del cuadro para evitar que sea demasiado ancho en pantallas grandes */
  margin: 20px auto; /* Centrar el cuadro horizontalmente en cualquier dispositivo */
  text-align: center; /* Alinea el texto en el centro horizontalmente */
}/*# sourceMappingURL=styles.css.map */